/*
Thanks to Stefan Kruger for figuring out how to get the APL font working
Check out https://xpqz.github.io/learnapl/
*/

@font-face {
    font-family: "codefont";
    src:
        local("BQN386 Unicode"),
        url(BQN386.ttf) format("truetype");
}

t, code, kbd, samp, pre, .output.text_html span {
    font-family: codefont!important
}
